
input[type='number']{
    width: 50px;
} 


.con_borde, .con_borde td, .con_borde th {
    border: 1px solid black;
}
.con_borde {
    border-collapse: collapse !important;
}

.con_borde td,.con_borde th {
    text-align: center;
    padding: 5px;
}

caption{
    margin-bottom: 8px;
}

.highlighted{
    text-decoration: underline;
}